{% extends 'core/base.html' %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block titulo %}
        <title>Menu</title>
    {% endblock titulo %}
</head>
<body>
    {% block content %}
    <div style="text-align: center;">
        <h1>BIENVENIDO a Learning with Shoes</h1>
        <p>Aquí podras encontrar diferentes tipos de cursos, desde JavaScript, React y Ruby.</p>
        <BR>
        <h2>Inicie sesión ó creese una cuenta!</h2>
        <a href="{% url "core:registrar" %}""><button>Registrarse</button></a><br>
        <a href="{% url 'core:iniciar_sesion' %}"><button>Iniciar sesion</button></a><br>
        
    </div>
    {% endblock content %}
    <br>
   
</body>
</html>