{% extends 'core/base.html' %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block titulo %}
        <title>Menu</title>
    {% endblock titulo %}
</head>
<body>
    {% block content %}
    <div style="text-align: center;">
        <h1>BIENVENIDO</h1>
        <a ><button>Registrarse</button></a><br>
        <a><button>Iniciar sesion</button></a><br>
        <a><button>Volver</button></a><br>
    </div>
    {% endblock content %}
</body>
</html>